<div id="top" class="jumbotron">
    <div class="overlay"></div>
    <div class="container"><h1 class="wow slideInDown">Tamer Kamal</h1><p id="resume" class="lead wow slideInDown">Web Technologist Resume</p>
    </div>
   
    <a href="#profile" class="scroll-down"><span class="glyphicon glyphicon-chevron-down"></span></a>
</div>
<div>
    <div id="profile" class="container "><h2 class="wow slideInUp">Profile</h2><p class="lead wow slideInUp">I'm a full stack .Net C# web technologist</p>
        <hr class="wow zoomIn">
        <div class="row"><div class="col-md-4 wow slideInLeft"><h3>About me</h3>
                <p>I am a senior programmer. Working like an <i>octopus</i> to extend eight hands by swimming and swapping hands on front and back end development. Also I like to leverage my knowledge on digital marketing and search engine optimization. I am eager to learn new technologies and love to share. I support small businesses and willing to work with great team to brainstorm,distribute and delight people with fascinating solutions in their lives.
                </p>
            </div>
            <div class="col-md-4 text-center wow zoomIn">
                <img  src="~/Content/images/TamerKamal.png" alt="Tamer Kamal,Full Stack Web Developer,Asp.net C# Web developer,Octopus Web Technologist Jeddah Saudi Arabia" >
            </div>
            <div class="col-md-4  wow slideInRight"><h3>Details</h3>
                <p>
                    <strong>Name:</strong><br>
                    Tamer Kamal Abu Ramadan<br>
                    <strong>Age:</strong><br>
                    35 years young<br>
                    <strong>Location:</strong><br>
                    Jeddah, Kingdom of Saudi Arabia
                </p>
            </div>
        </div>       
    </div>
    <div class="greyBackground">
        <div id="experiences" class="container">
            <h2 class="wow slideInUp">Experiences</h2>
            <p class="lead wow slideInUp">
                “Experience is the hardest kind of teacher, it gives you the test first and the lesson afterward.”<br>- Oscar Wilde -
            </p>
            <hr class="wow zoomIn">
            <div class="alert alert-warning wow bounceInLeft">
                <strong>I'm fully ready for new challenges whether small projects, part-time or full-time career. either globally or locally in Jeddah,Saudi Arabia.</strong>
            </div>
            <h3 class="wow slideInLeft">Careers</h3>
            <div class="experiences">

                <div class="experience row wow slideInRight">
                    <div class="col-md-4">
                        <h4>Al Sanbouk Marine and Diving Supplies</h4>
                        <p class="experience-period">July 2013 - October 2017</p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Sales Assistant and Social Media Marketing</strong>
                            <span class="hidden-phone">
                                I worked in a different field. However, It was great experience to gain practical skills on management, marketing, planning and sales. the job involved in digital social media marketing, sales consultant based on my long experience as scuba diving instructor and trainer. I worked as consultant also for instructors for quality training and divers for choosing what fits them of products.
                            </span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    Jeddah, Saudi Arabia
                                </span>
                            </span>
                        </p>
                    </div>
                </div>


                <div class="experience row wow slideInRight">
                    <div class="col-md-4">
                        <h4>Business Schema Trading Establishment</h4>
                        <p class="experience-period">
                           Feb 2008 - March 2012
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Senior Software and Web Developer VB.Net</strong>
                            <span class="hidden-phone">
                                I worked as senior developer around three and a half years on windows application for CRM (customer relationship management). I participated in database SQL server 2008 coding for transactions and querying reports in DevXpress custom controls. I coded user interfaces and business logic by using Visual Basic.Net. And one year spent on making web applications by using sharepoint 2007 designer, asp.net web forms for medical sections to perform daily and management tasks for nurses and doctors in King Abdulaziz University Hospital in Jeddah.
                            </span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    Jeddah, Saudi Arabia
                                </span>
                                <span class="seperator">|</span>
                                <span class="link">
                                    <span class="glyphicon glyphicon-link"></span>
                                    <a href="http://www.bst.com.sa/" target="_blank">http://www.bst.com.sa/</a>
                                </span>


                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <hr class="wow zoomIn">
            <h3 class="wow slideInLeft">Educations</h3>
            <div class="experiences">

                <div class="experience row wow slideInRight">
                    <div class="col-md-4">
                        <h4>Udemy</h4>
                        <p class="experience-period">
                            June 2017 - Current
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Online Courses</strong>
                            <span class="hidden-phone">
                                Expanding my knowledge and coding skills more on - C# Design patterns - Web API 2.0 - C# 7.0 - ECMAScript 6 &amp; 7
                                <br />My next plan as roadmap: - .Net Core - Asp.net core - AngularJs - NodeJs - Xamarin - User Experience.
                            </span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    Online
                                </span>
                                <span class="seperator">|</span>
                                <span class="link">
                                    <span class="glyphicon glyphicon-link"></span>
                                    <a href="https://www.udemy.com/" target="_blank">https://www.udemy.com/</a>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="experience row wow slideInRight">
                    <div class="col-md-4">
                        <h4>Pluralsight</h4>
                        <p class="experience-period">
                           Nov 2016 - June 2017
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Online Courses</strong>
                            <span class="hidden-phone">
                                Completed courses as a list: - C# Events and Delegates - C# Interfaces - jQuery - Bootstrap - Responsive Web - Javascript design patterns - Object Oriented Javascript - Asp.Net MVC Request Life Cycle - ADO.NET - Entity Framework 
                            </span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    Online
                                </span>
                                <span class="seperator">|</span>
                                <span class="link">
                                    <span class="glyphicon glyphicon-link"></span>
                                    <a href="https://www.pluralsight.com/" target="_blank">https://www.pluralsight.com/</a>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="experience row wow slideInRight">
                    <div class="col-md-4">
                        <h4>Philadelphia University</h4>
                        <p class="experience-period">
                            Oct 2001 - June 2005
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Bachelor - Management Information System - Information Technology Faculty</strong>
                            <span class="hidden-phone">
                                Education was mainly academic and focusing on Analysis, Designing, Planning and Management. But they teach awesome starting technical skills to dive in job market. I learned about UML, HTML, CSS ,CLASSIC ASP, VB.NET, SQL AND ORACLE. At that time I started to specialize in making web pages and using server side coding and created small projects like shopping carts and E-commerce. 
                            </span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    Amman, Jordan
                                </span>
                                <span class="seperator">|</span>
                                <span class="link">
                                    <span class="glyphicon glyphicon-link"></span>
                                    <a href="http://www.philadelphia.edu.jo/" target="_blank">http://www.philadelphia.edu.jo/</a>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="abilities" class="container">
        <h2 class="wow slideInUp">Abilities</h2>
        <p class="lead wow slideInUp">
            “Every artist was first an amateur.”
            <br>- Ralph Waldo Emerson -
        </p>
        <hr class="wow zoomIn">
        <h3 class="wow bounceInLeft">Skills</h3>
        <div class="row">
            <div class="col-md-6 wow bounceInLeft">
                <ul class="no-bullets">
                    <li>
                        <span class="ability-title">Bootstrap</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">CSS(3)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">HTML(5)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">jQuery</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star"></span>


                            <span class="glyphicon glyphicon-star"></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">Javascript</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star"></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">JSON</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                        </span>
                    </li>

                    <li>
                        <span class="ability-title">Object Oriented Programming</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">UML</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>

                    <li>
                        <span class="ability-title">SASS / SCSS</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                        </span>
                    </li>
               </ul>
            </div>
            <div class="col-md-6  wow bounceInRight">
                <ul class="no-bullets">
                    <li>
                        <span class="ability-title">Asp.Net MVC</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">Design Patterns</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>


                    



                    <li>
                        <span class="ability-title">C# Language</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">SEO</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">Agile</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star"></span>


                            <span class="glyphicon glyphicon-star"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">ECMAScript 6 / 7</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">Localization</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                   <li>
                        <span class="ability-title">HandleBarsJs</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">SOLID Principles</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                </ul>
            </div>


        </div>
        <div class="text-center project-referal wow bounceInUp">
            <p>This project is simply built on Asp.net MVC 5.</p>
            <a href="https://github.com/poseidonredsea/resume" class="btn btn-primary" target="_blank">See project on Github</a>
        </div>
        <hr class="wow zoomIn">
        <h3 class="wow bounceInLeft">Languages</h3>
        <div class="row">

            <div class="col-md-6 wow bounceInLeft">
                <ul class="no-bullets">


                    <li>
                        <span class="ability-title ability-title-sm">Arabic (Mother tongue)</span>
                    </li>



                  



                </ul>
            </div>
            <div class="col-md-6 wow bounceInRight">
                <ul class="no-bullets">
                    <li>
                        <span class="ability-title ability-title-sm">English (Very Good) - IELTS overall score 7.0 of 9.0 - August 2016</span>
                    </li>
                </ul>
            </div>


        </div>
        <hr class="wow zoomIn">
        <h3 class="wow bounceInLeft">Tools</h3>
        <div class="row">

            <div class="col-md-6 wow bounceInLeft">
                <ul class="no-bullets">


                    <li>
                        <span class="ability-title">Visual Studio Code (2 years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">Firefox (5 years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">MS Office (10+ years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">Windows (15+ years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>



                    <li>
                        <span class="ability-title">Adobe Illustrator (4 years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 wow bounceInRight">
                <ul class="no-bullets">
                    <li>
                        <span class="ability-title">Visual Studio (12 years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">Sql Server Management Studio (2 years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">Google Chrome (3 years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                        </span>
                    </li>
                    <li>
                        <span class="ability-title">IIS (2 years)</span>
                        <span class="ability-score">


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star filled"></span>


                            <span class="glyphicon glyphicon-star "></span>


                            <span class="glyphicon glyphicon-star "></span>


                        </span>
                    </li>
                  </ul>
            </div>

        </div>
    </div>
    <div class="darkGreyBackround">
        <div id="contact" class="container">
            <h2>Contact</h2>
            <p class="lead">
                “There is no key to open the heart of another - except curiosity.”<br>- Stefan Molyneux -
            </p>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <ul class="no-bullets">
                       <li>
                            <a class="contact-link" href="https://www.linkedin.com/in/tamer-kamal/" target="_blank">
                                <span class="icon icon-linkedin"></span>
                                /in/tamer-kamal
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="no-bullets">
                       <li>
                            <a class="contact-link" href="mailto:tamer.k.aburamadan@gmail.com">
                                <span class="icon icon-email"></span>
                                <span>
                                    tamer.k.aburamadan@gmail.com
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
            <hr>
            <div class="text-center">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="An awesome web developer online resume." data-url="http://tamerkamal.me/" data-hashtags="#Jeddah #SaudiArabia #Fullstack #developer #مبرمج #جدة #السعودية" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftamerkamal.me%2F&width=98&layout=button&action=like&size=small&show_faces=true&share=true&height=65&appId" width="98" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
 </div>
@section scripts{
    <script>
        $(function () {
            var wow = new WOW().init();
            AppController.init();
        });

    </script>
}
